body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.logo-accent {
    color: #4D5AE5;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-menu-link:hover,
.header-menu-link:focus {
    color: #404BBF;
}

.header-contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

.features-title {
    text-align: left;
}

.team {
    background-color: #F4F4FD;
}

.team-item {
    background-color: #fff;
}

.team-subtitle {
    text-align: center;
}

.team-text {
    text-align: center;
}

.footer {
    background-color: #2E2F42;
}

.footer-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
}